.nama {
margin-left: 144px;
}

.email {
    margin-left: 140px;
}
.jeniskelamin {
    margin-left: 85px;
}

.textarea {
    resize: none;
    margin-left: 100px;

}
.kirim {
    margin-top: 45px;
}

.pola {
    background-image: url(Public/img/pattern.jpg);
  }

ul.menunav {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: white;
  }
  
  .menunav li {
    float: right;
  }
  
  .menunav li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
.jarakkata {
    word-spacing: 20px;
}
  